*{
	margin: 0;
	padding: 0;
}

body.baltsms{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}

div#baltsms-page{
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px;
	min-height: 100px;
}

ul#tab-nav{
	margin: 10px auto 0 auto;
}

div#baltsms-loader{
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	width: 220px;
	height: 20px;
}

div#baltsms-form-button{
	float: right;
	margin-right: 16px;
}

div#baltsms-form-button:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

textarea.baltsms{
	resize: none;
}

div#baltsms-flags{
	position: absolute;
	margin-left: -20px;
}

div#baltsms-flags img{
	cursor: pointer;
	display: block;
	margin-top: 10px;
}